<nav>
    <div class="nav-wrapper" style="background-color: #569bdb;">
        <!-- <a href="/" class="brand-logo">Logo</a>
        <a href="/">Gabriel Paderna (ga-Pad.com)</a> -->
        <a href="/"><i class="material-icons left">science</i>Gabriel Paderna (ga-Pad.com)</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons right">call</i>Contact</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/other">Other</a></li>
    <li><a href="/"><i class="material-icons right">call</i>Contact</a></li>
</ul>