<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %> 
<body>
    <%- include('./partials/navigation') %> 
    <div class="container">
        <h4>Page Not Found</h4>
        <p>The requested URL was not found on this server.</p>
    </div>

    <%- include('./partials/footer') %> 
</body>

</html>