<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <a href="/" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <h3 class="col s6"></h3>
            <h3 class="col s6">About us</h3>
            <h3 class="col s6"></h3>
            <p class="col s6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet sit amet cursus sit amet dictum sit. Nullam non nisi est sit amet facilisis magna etiam. Purus non enim praesent elementum facilisis leo vel fringilla est. Risus in hendrerit gravida rutrum quisque non tellus orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Feugiat scelerisque varius morbi enim nunc. Risus nec feugiat in fermentum posuere urna nec. Vivamus arcu felis bibendum ut tristique et egestas. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Sed odio morbi quis commodo odio aenean sed adipiscing. Amet cursus sit amet dictum sit amet.</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>