<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %> 
<body>
    <%- include('./partials/navigation') %> 
    <div class="container">
        <div class="row">
            <h3 class="col s6 offset-s6">
                <%= heading; %>
            </h3>
            <p class="col s6 offset-s6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet sit amet cursus sit amet dictum sit. Nullam non nisi est sit amet facilisis magna etiam. Purus non enim praesent elementum facilisis leo vel fringilla est. Risus in hendrerit gravida rutrum quisque non tellus orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Feugiat scelerisque varius morbi enim nunc. Risus nec feugiat in fermentum posuere urna nec. Vivamus arcu felis bibendum ut tristique et egestas. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Sed odio morbi quis commodo odio aenean sed adipiscing. Amet cursus sit amet dictum sit amet.</p>
        </div>
    </div>

    <%- include('./partials/footer') %> 
</body>

</html>